$bg-colour: #2D2A2E;
$bg-darker: darken($bg-colour, 10%);
$bg-accent: lighten($bg-colour, 10%);
$fg-colour: #FCFCFA;
$title-bar-height: 38px;
$title-bar-colour: darken($bg-colour, 5%);
$border: 1px solid var(--bg-border);

@mixin svg-buttons {
    svg {
        pointer-events: auto;

        &:hover {
            background: var(--bg-accent);
            .transparent { fill: var(--bg-accent); }
        }

        &:active {
            background: var(--bg-darker);
            .transparent { fill: var(--bg-darker); }
        }
    }
}

:root {
    /// UI colours and fonts.
    --bg-colour: #{$bg-colour};
    --bg-accent: #{$bg-accent};
    --bg-darker: #{$bg-darker};
    --bg-border: #{$bg-accent};
    --fg-colour: #{$fg-colour};
    --fg-legend: #5B595C;
    --title-bar-colour: #{$title-bar-colour};
    --title-bar-height: #{$title-bar-height};
    --buttons-colour: #{$title-bar-colour};
    --sans-font: 'Segoe UI', 'Noto Sans', Verdana, Helvetica, Arial, sans-serif;
    --ui-font-size: 10pt;

    /// Used by electron only.
    --zoom-factor: 0;
    --base-font-size: 14pt;
    --font-size: calc(var(--base-font-size) + var(--zoom-factor) * 2pt);

    /// SCA++ diagnostics.
    --diag-err-bg: #2a050580;
    --diag-warn-bg: #3319b51f;

    /// SCA++ colour defaults.
    --kw-colour: #FF6188;
    --special-colour: #A9DC76;
    --operator-colour: #AB9DF2;
    --context-colour: #FFD866;

    /// From nguh.org.
    --nguh-org-accent-colour: #cea964;

    /// SCA++ tokens.
    --cm-comment-colour: #727072;
    --cm-text-colour: #{$fg-colour};
    --cm-error-colour: var(--cm-text-colour);
    --cm-class-name-colour: #78DCE8;
    --cm-separator-colour: #F59762;
    --cm-brace-colour: var(--kw-colour);
    --cm-brack-colour: var(--kw-colour);
    --cm-paren-colour: var(--kw-colour);
    --cm-hash-colour: var(--special-colour);
    --cm-dollar-colour: var(--special-colour);
    --cm-ampersand-colour: var(--context-colour);
    --cm-plus-colour: var(--context-colour);
    --cm-uscore-colour: var(--context-colour);
    --cm-assign-colour: var(--kw-colour);
    --cm-tilde-colour: var(--operator-colour);
    --cm-comma-colour: var(--kw-colour);
    --cm-wildcard-colour: var(--special-colour);
    --cm-star-colour: var(--operator-colour);
    --cm-vbar-colour: var(--operator-colour);
    --cm-percentage-colour: var(--operator-colour);

    /// SCA 2 tokens.
    --cm-z_dbl_backslash-colour: var(--context-colour);
    --cm-z_superscript_2-colour: var(--context-colour);

    /// Terminal colours.
    --term-colour-red: #e75454;
    --term-colour-green: #A9DC76;
    --term-colour-magenta: #AB9DF2;
    --term-colour-yellow: #FFD866;
    --term-colour-blue: #F59762; /// In my terminal, ANSI Blue (\033[34m) is actually orange.
}

html, body {
    margin: 0;
    height: 100%;

    overflow-y: hidden;
}

body {
    border: $border;
    box-sizing: border-box;

    background-color: var(--bg-colour);
    font-size: var(--ui-font-size);
    font-family: var(--sans-font);
    color: var(--fg-colour);
}

h1, h2, h3, h4, h5, h6 { font-weight: normal; }

main {
    padding: 0 1rem 1rem 1rem;
    height: 100%;

    font-size: var(--font-size);
}

textarea {
    border: none;
    width: 100%;
    height: 100%;

    background-color: var(--bg-colour);
    color: var(--fg-colour);
}

::-webkit { /// SCROLLBARS BEGIN
    &-scrollbar {
        background-color: var(--bg-colour);
        &-thumb { background-color: var(--bg-accent); }
    }

    &-resizer {
        background: linear-gradient(-225deg,
            var(--bg-colour)  50%, var(--bg-accent) 50%,
            var(--bg-accent) 60%, var(--bg-colour)  60%,
            var(--bg-colour)  70%, var(--bg-accent) 70%,
            var(--bg-accent) 80%, var(--bg-colour)  80%,
            var(--bg-colour)  90%, var(--bg-accent) 90%);
    }
} /// SCROLLBARS END

#title-bar {
    --nav-inline-padding: 1rem;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    z-index: 1;
    height: $title-bar-height;

    background: var(--title-bar-colour);

    nav {
        z-index: 1000;
        & > ul { padding: 0; }

        li {
            -webkit-user-select: none;
            padding-inline: var(--nav-inline-padding);

            &:hover { background: var(--bg-accent); }
        }

        .menu-bar {
            &-item {
                position: relative;

                & > ul {
                    position: absolute;
                    top: $title-bar-height;
                    left: 0; /// We'll use JS to figure this out.

                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;

                    padding: 0;
                    width: max-content;
                    height: max-content;

                    background: var(--title-bar-colour);

                    & > li {
                        padding-block: .25rem;
                        width: calc(100% - 2 * var(--nav-inline-padding));
                    }
                }
            }
        }
    }

    &-text {
        -webkit-user-select: none;
        -webkit-app-region: drag;
        z-index: 1;
        width: 100%;

        &-content {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    .maximise             { fill: var(--fg-colour); }
    .maximise.transparent { fill: var(--title-bar-colour) }
    .restore              { fill: none !important; }

    &.maximised {
        .maximise            { fill: none !important; }
        .restore             { fill: var(--fg-colour) !important; }
        .restore.transparent { fill: var(--title-bar-colour) !important; }
    }

    * {
        display: flex;
        align-items: center;
        height: 100%;
        fill: var(--fg-colour);
    }

    .transparent { fill: var(--title-bar-colour); }

    #window-controls {
        pointer-events: none;
        z-index: 2;

        @include svg-buttons;
    }

    #close-button {
        width: $title-bar-height;
        height: $title-bar-height;
    }
}

#inputs-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#buttons-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    margin-top: 1rem;

    > div {
        display: flex;
        flex-direction: row;
        align-items: center;

        gap: 1rem;
    }

    #current-mode-indicator {
        -webkit-user-select: none;
        font-size: var(--ui-font-size);
    }
}

button {
    border: none;
    padding: .25rem 1rem;
    height: max-content;

    box-shadow: 0 0 3.5px var(--buttons-colour);
    background-color: var(--buttons-colour);
    font-size: var(--ui-font-size);
    color: var(--fg-colour);

    &:hover  { background-color: var(--bg-accent); }
    &:active { background-color: var(--bg-darker); }
}

.horizontal-radio-button + .horizontal-radio-button { margin-left: 1rem; }

///
/// Editor and syntax highlighting
///

fieldset {
    display: flex;
    flex-direction: column;

    border: 1px solid var(--bg-accent);
    padding: 0;

    &.fieldset-editor-wrapper { height: 80vh; }
}

#fieldset- {
    &classes        { width: 35%; max-width: 35%; }
    &rules          { width: 25%; max-width: 25%; }
    &input, &output { width: 18%; max-width: 18%; }
}

legend {
    -webkit-user-select: none;

    margin-left: 1cm;
    color: var(--fg-legend);
}

.CodeMirror {
    width: 100% !important;
    height: 100% !important;

    color: var(--fg-colour) !important;
    background-color: var(--bg-colour) !important;

    &-linenumber  { color: var(--fg-legend) !important; }
    &-cursor      { border-color: var(--fg-colour) !important; }
    &-gutters     { border-color: var(--bg-accent) !important; }

    &-linenumbers {
        width: max(30px, calc(30px + 2.5pt * var(--zoom-factor))) !important;
        background-color: var(--bg-colour);
    }

    pre.CodeMirror-line {
        &, &-like {
            padding: 0 4px 0 max(4px, calc(4px + 2.5pt * var(--zoom-factor))) !important;
        }
    }
}

.cm- {
    &error {
        color: var(--cm-error-colour) !important;
        text-decoration: underline solid;
        text-decoration-color: red;
    }

    &text                { color: var(--cm-text-colour); }
    &class_name            { color: var(--cm-class-name-colour); }
    &separator            { color: var(--cm-separator-colour); }
    &arrow                { color: var(--cm-separator-colour); }
    &lbrace                { color: var(--cm-brace-colour); }
    &rbrace                { color: var(--cm-brace-colour); }
    &lbrack                { color: var(--cm-brack-colour); }
    &rbrack                { color: var(--cm-brack-colour); }
    &lparen                { color: var(--cm-paren-colour); }
    &rparen                { color: var(--cm-paren-colour); }
    &hash                { color: var(--cm-hash-colour); }
    &dollar                { color: var(--cm-dollar-colour); }
    &ampersand            { color: var(--cm-ampersand-colour); }
    &plus                { color: var(--cm-plus-colour); }
    &uscore                { color: var(--cm-uscore-colour); }
    &assign                { color: var(--cm-assign-colour); }
    &tilde                { color: var(--cm-tilde-colour); }
    &comma                { color: var(--cm-comma-colour); }
    &wildcard            { color: var(--cm-wildcard-colour); }
    &star                { color: var(--cm-star-colour); }
    &vbar                { color: var(--cm-vbar-colour); }
    &percentage            { color: var(--cm-percentage-colour); }
    &line-z_comment        { color: var(--cm-comment-colour); }
    &z_arrow_separator    { color: var(--cm-separator-colour); }
    &z_dbl_backslash    { color: var(--cm-z_dbl_backslash-colour); }
    &z_superscript_2    { color: var(--cm-z_superscript_2-colour); }
    &z_ellipsis            { color: var(--cm-error-colour); }
}

///
/// Customise dialog & settings
///
input[type="color"] {
    margin-right: .1rem;
    border: none;
    padding: 0;

    background: var(--bg-colour);
}

dialog {
    position: absolute;
    z-index: 98;
    top: 50%;
    left: 50%;
    bottom: auto !important;
    right: auto !important;

    display: none;
    flex-direction: column;
    justify-content: space-between;

    border: $border;
    padding: 0;
    max-width: min(100ch, 90vw);
    min-width: 50ch;

    pre {
        word-wrap: break-word;
        overflow-x: auto;
        white-space: pre-wrap;
    }

    background: var(--bg-colour);
    color: var(--fg-colour);

    &::backdrop { background: none; }
    & > *, fieldset { padding: .5rem; }
    fieldset + fieldset { margin-top: 1rem; }

    .dialog {
        &-controls {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        &-content { overflow-y: auto; }

        &-title {
            -webkit-user-select: none;
            -webkit-user-drag: element;

            position: relative;
            z-index: 99;

            display: flex;
            flex-direction: row;
            justify-content: flex-end;

            margin: 0;
            padding: 0;
            width: 100%;
            height: $title-bar-height;

            background: var(--title-bar-colour);
            font-size: var(--ui-font-size);
            text-align: center;

            @include svg-buttons;

            &-content {
                position: absolute;
                top: .55rem;
                left: 50%;

                width: fit-content;
                transform: translateX(-50%);
            }

            * { fill: var(--fg-colour); }
        }
    }

    .customise-dialog-inputs {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        & > div {
            display: flex;
            flex-direction: row;
            align-items: center;

            margin: .25rem;
        }

        label {
            display: inline-block;
            min-width: 10ch;
        }
    }
}

#version-dialog div:nth-child(2) {
    display: flex;
    flex-direction: row;

    img {
        -webkit-user-select: none;

        align-self: baseline;
        margin-right: .5rem;
        width: 5rem;
    }

    div {
        display: flex;
        flex-direction: column;
    }

    p {
        margin: 0;
        &:first-of-type { font-size: var(--font-size); }
    }
}

.fieldset-horizontal {
    &, & div {
        display: flex;
        flex-direction: row;
    }
}

///
/// Diagnostics
///
$diag-colour-mapping: (
    "Note": "green",
    "Warning": "magenta",
    "Error" : "red",
);

$diagnostic-padding: .5rem;
.sca-diagnostic {
    &-Note, &-Warning, &-Error {
        position: relative;
        box-sizing: border-box;

        border-left-style: solid;
        border-left-width: 6px;
        padding: $diagnostic-padding;

        &:not(:first-child)::before {
            position: absolute;
            top: 0;
            left: 0;

            height: 1px;
            width: 100%;

            background: var(--title-bar-colour);
            content: '';
        }
    }

    @each $severity, $colour in $diag-colour-mapping {
        &-#{$severity} { border-left-color: var(--term-colour-#{$colour}); }
    }

    &-Warning { background: var(--diag-warn-bg); }
    &-Error   { background: var(--diag-err-bg); }

    &-dialog .dialog-content { padding: 0 !important; }
}

/// Terminal colours
$colours: "red", "green", "magenta", "yellow", "blue";
@each $colour in $colours { .term-#{$colour} { color: var(--term-colour-#{$colour}); } }
.term-bold { font-weight: bold; }
